<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Jacob Silvia</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.0/foundation.min.css">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/foundation/6.1.0/foundation.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	
	<body>
	
		<div class="title-bar" id="medium-title">
			<div class="title-bar-title"><a href="#" ng-click="template='home'">Jacob Silvia</a></div>
			<div class="title-bar-left">
				
			</div>
			<div class="title-bar-right">
				<div data-responsive-toggle="top-menu-buttons" data-hide-for="medium">
					<button class="menu-icon" type="button" data-toggle></button>
				</div>
				<ul class="dropdown menu vertical medium-horizontal" id="top-menu-buttons" data-responsive-menu="dropdown small-accordion">
					<li><a href="#" class="hollow button" ng-click="template='developer'">Developer</a></li>
					<li><a href="#" class="hollow success button" ng-click="template='writer'">Writer</a></li>
					<li><a href="#" class="hollow alert button" ng-click="template='reader'">Reader</a></li>
				</ul>
			</div>
		</div>
		
		<ng-include src="template" ng-init="template='home'"></ng-include>
	</body>
	
	<script type="text/javascript">
		$(document).foundation();
	</script>
	
	<script type="text/ng-template" id="home">
		<div class="row">
			<div class="columns small-12">
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="developer">
	<div class="row">
		<div class="columns small-12">
		<h1>Developer</h1>
		<p>I have developed or contributed significantly to the following projects.</p>
		<h2>Websites</h2>
		<div class="row">
			<div class="columns small-6 medium-3 end">
				<div class="media-object">
					<div class="media-object-section">
						<img src="images/cedar-logo.png" alt="Cedar Consulting Logo" style="width: 32px; height: 32px;"/>
					</div>
					<div class="media-object-section">
						Cedar Consulting (<a href="http://cedarconsulting.net" target="_blank">cedarconsulting.net</a>)
					</div>
				</div>
			</div>
			<div class="columns small-6 medium-3 end">
				<div class="media-object">
					<div class="media-object-section">
						<img src="images/fergus-logo.png" alt="Cedar Consulting Logo" style="width: 32px; height: 32px;"/>
					</div>
					<div class="media-object-section">
						Fergus Reinsurance (<a href="http://fergus.bm" target="_blank">fergus.bm</a>)
					</div>
				</div>
			</div>
			<div class="columns small-6 medium-3 end">
				<div class="media-object">
					<div class="media-object-section">
						<img src="images/whatcharacter-logo.png" alt="Cedar Consulting Logo" style="width: 32px; height: 32px;"/>
					</div>
					<div class="media-object-section">
						WhatCharacter (<a href="http://whatcharacter.com" target="_blank">whatcharacter.com</a>)
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	</script>
	
	<script type="text/ng-template" id="writer">
	<div class="row">
		<div class="columns small-12">
		<h1>Writer<h1>
		</div>
	</div>
	</script>
	
	<script type="text/ng-template" id="reader">
	<div class="row">
		<div class="columns small-12">
		<h1>Reader<h1>
		</div>
		</div>
	</script>
</html>